@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');

body {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 2re;
  margin: 5%;
  background-image: url("http://cdn.shopify.com/s/files/1/2294/8727/products/Unicorn_Wallpaper-02_1200x1200.jpg?v=1614667407");
  font-family: 'Bebas Neue', cursive;
  background-repeat: no-repeat;
  background-size: cover;
}
